
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');


:root {
    --primary:  rgb(151, 136, 166);
    --black: #0d1117;
    --gray: #30363d;
    --light: white;

    
    --h1-size: 1.5rem;
    --p-size: 1.1rem;


    --blur: blur(20px);
    --shadow: 0 0 30px var(--gray);

    --radius: 1.0rem;

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--light);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding-top: 120px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1, h2 {
    font-size: 1.5em;
}

p {
    font-size: 0.9rem;
}


/* --- Header Section --- */
.header {
    border-bottom: 2px solid var(--gray) ;
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.logo {
    font-size: 2rem;
    font-family: Righteous;
    font-weight: bold;
    color:  var(--light);
    user-select: none;
    cursor: pointer;
}

.logo span {
    color:  var(--primary);
    font-family: Righteous;
}

nav{
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
}

.navlist a {
    position: relative;
    font-size: 1.1rem;
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    width: fit-content;
}



/* --- Hamburger Manu Icon --- */

.hamMenu {
    position: relative;
    display: none;

    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.hamButton {
    width: 25px;
    height: 3px;
    background: var(--light);
    border-radius: 2px;
    transition: all .25s ease-in-out;
    z-index: 1;
}

.hamButton::before, 
.hamButton::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--light);
    border-radius: 2px;
    transition: all .25s ease-in-out;
}


.hamButton::before {
    transform: translateY(-10px);
}

.hamButton::after {
    transform: translateY(10px);
}

.hamMenu.active .hamButton {
    transform: translateX(-50px);
    background: transparent;
}

.hamMenu.active .hamButton:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamMenu.active .hamButton:after {
    transform: rotate(-45deg) translate(35px, 35px);   
}



/* --- Sliding Underline ---  */  
.navlist a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navlist a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



/* --- intro and AboutMe --- */

#aboutme {
    scroll-margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
}

.wrapper {
    width: 100%;
    height: auto;
    border: 2px solid var(--gray) ;
    border-top-left-radius:  var(--radius);
    border-top-right-radius:  var(--radius); 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;


}

.content-padding {
    display: flex;
    padding: 20px 25px 15px 25px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.avatar {
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--gray);
}


/* --- Buttons --- */
.divbutton {
    width: 100%;
    height: 45px;
    background: var(--gray);
    border: 2px solid var(--gray);
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 700;
    transition: .5s;
    padding-top: 3px 
}

.divbutton:hover {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
}


/* --- icones --- */
.icontray {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: -2px; 
}

.icontray .divbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.0rem;
    height: 50px;
    flex: 1;
}

.icontray > .iconlink {

    align-items: center;
    position: relative;
    width: 100%;

}

/* --- Specific Button Radius --- */

.iconlink .left {
    border-bottom-left-radius:  var(--radius);
}


.iconlink .right {
    border-bottom-right-radius:  var(--radius);
} 




/* --- Inverted Border Radius --- */

.icontray a.left::after,
.icontray a.right::after{
    --border-radius: 1rem;

    content: '';
    position: absolute;
    background-color: var(--black);
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: 100%;
    transition: .5s;
    pointer-events:none;
}

.icontray a.left::before,
.icontray a.right::before{
    --border-radius: 1rem;

    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    transition: .5s;
    pointer-events:none;
}

.icontray a.left::before {
    top: -15px;
    left: 0px;
    background-color: var(--gray);
}

.icontray a.left::after{
    top: -16px;
    left: 2px;
    border-radius: 0 0 0 100vw;
}

.icontray a.left:hover::before{
    background-color: var(--primary);
    transition: .5s;
}


.icontray a.right::before {
    top: -15px;
    left: 85%;
    background-color: var(--gray);
}

.icontray a.right::after{
    top: -16px;
    left: 83%;
    border-radius: 0 0 100vw 0;
}

.icontray a.right:hover::before,
.icontray a.left:hover::before{
    background-color: var(--primary);
    transition: .5s;
    
}



/* ---- Timeline ----- */

.timeline {
    position: relative;
    margin: 55px auto;
    width: 80%;
    
}
.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.point {
    min-width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 100%;
    z-index: 2;
    border: 3px var(--gray) solid;
    position: relative;
}
.point.point-right {
    right: 9px;
}

.point.point-left {
    left: 11px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: var(--gray);
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}


.timeline ul li .content p {
    padding: 10px 20px;
    background-color: var(--gray);
    margin-top: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: var(--gray);
}





/* --- MyTechStack --- */

.chapter {
    display: flex;
    justify-content: center;
    padding: 10px;
}



#techstack {
    scroll-margin-top: 80px;
    width: 100%;
    height: 100vh;
    min-height: 670px;
    padding-top: 10px;
    border-top: 2px solid;
    border-color: var(--gray);
}



.tab-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns:  180px 180px 180px;
    justify-content: center;


}

.tabs {
    display: grid;
    grid-template-rows: 150px; 
    justify-content: center;
    align-items: center;
    background: var(--gray);
    border-radius: var(--radius);
}

.tabs:hover {
    background: var(--primary);
    color: var(--light);
    transition: .4s;
}



.textbubble {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid var(--gray) ;
    border-radius: var(--radius);

}




/* --- MyProjects --- */

#projects {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--gray);
}


.container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 25vh;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px) grayscale(100%) opacity(40%);
    height: 50vh;
    border-radius: var(--radius);
    color: var(--light);
    flex: 0.5;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s  ease-in;
}

.panel h3 {
    font-size: 1.6rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 6;
    filter: none;
}

.panel.active h3,
.panel.active p {
    opacity: 1;
    transition: opacity 0.3s ease-in o.4s;
}



/* --- Contact --- */

#contact {
    scroll-margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
}

.contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}


.contact-form {
    max-width: 640px;
    border: 2px solid var(--gray) ;
    border-radius: var(--radius);
    padding: 20px
}

.contact-form form label {
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 5px 15px;

}



.contact-inputs input {
    scroll-margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
}

.contact-inputs input, 
.contact-inputs textarea {
    height: 30px;
    width: 300px;
    background-color: var(--gray);
    color: var(--light);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0 10px 0 10px ;
    margin: 0 15px 15px 15px;
}

.contact-inputs textarea {
    width: 300px;
    height: 200px;
    padding: 10px;
    max-width: 565px;

}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 150px;
    background: var(--gray);
    border: 2px solid var(--gray);
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 700;
    transition: .5s;
    border-radius: var(--radius);
    margin: 0 10px 10px 10px;
}

.contact-buttons button {
    margin: 0 10px 0 10px;

}

.contact-buttons ion-icon{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.contact-buttons iconify-icon {
    width: auto;
    height: auto;
    padding: 10px;
}


.contact-button:hover{
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
}


/* ContactMe Responsivenes */


@media (max-width: 1080px) {

    /* ContactMe Section */
    .contact-wrapper {
        flex-direction: column;
        width: auto;

    }


    .contact-form {
        border-radius: 0;
        border-top-left-radius:  var(--radius);
        border-top-right-radius:  var(--radius); 

    }


    div.contact-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;

    }

    .contact-link {
        width: 100%;
    }


    div.contact-button,
    button.contact-button {
        border-radius: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .contact-link .left {
        border-bottom-left-radius:  var(--radius);
    }
    
    .contact-link .right{
        border-bottom-right-radius:  var(--radius);
    } 

    .contact-button ion-icon{
        width: 45px;
        height: 45px;
        padding: 5px;
    }

    /* --- Inverted Border Radius --- */

    .contact-buttons .contact-link.left::after,
    .contact-buttons .contact-link.right::after{
        --border-radius: 1rem;

        content: '';
        position: absolute;
        background-color: var(--black);
        width: var(--border-radius);
        height: var(--border-radius);
        border-radius: 100%;
        transition: .5s;
        pointer-events:none;
    }

    .contact-buttons .contact-link.left::before,
    .contact-buttons .contact-link.right::before{
        --border-radius: 1rem;

        content: '';
        position: absolute;
        width: var(--border-radius);
        height: var(--border-radius);
        transition: .5s;
        pointer-events:none;
    }

    .icontray a.left::before {
        top: -15px;
        left: 0px;
        background-color: var(--gray);
    }

    .icontray a.left::after{
        top: -16px;
        left: 2px;
        border-radius: 0 0 0 100vw;
    }

    .icontray a.left:hover::before{
        background-color: var(--primary);
        transition: .5s;
    }


    .icontray a.right::before {
        top: -15px;
        left: 85%;
        background-color: var(--gray);
    }

    .icontray a.right::after{
        top: -16px;
        left: 83%;
        border-radius: 0 0 100vw 0;
    }

    .icontray a.right:hover::before,
    .icontray a.left:hover::before{
        background-color: var(--primary);
        transition: .5s;
        
    }
}

/* ---- Responsivenes ---- */

@media (max-width: 880px) {


    /* Timeline Responsivenes */

    .timeline::before {
        left: 8px;

    }

    .timeline ul {
        display: flex;
        flex-direction: column;
    }

 
    .point.point-left,
    .point.point-right {
        display: flex;

        left: 0;
    }

    .timeline ul li {
        display: flex;
        flex-direction: row-reverse; 
        justify-content: flex-end;
    }

    .timeline ul li .content {
        width: 95%;
        padding: 0 27px 0 11px;

    }


      /* MyTackStack Responsivenes*/

    #techstack {
        min-height: 1050px;
    }

    .tab-wrapper {
        grid-template-columns:  180px 180px;
    }




 /*  MyProjects Slider  */
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        flex-direction: column;
        width: 90vw;
        height: 40vh;
    }



    /* Main and Header */

    main {
        width: 90vw;
    }

    .nav {
        flex-direction: column;
        gap: 2rem;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        gap: .6rem;
    }

    .hamMenu {
        display: flex;

        z-index: 2;
    }

    .nav {
        position: absolute;
        top: -100vh;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        align-items: center;
        text-align: center;
        background-color: transparent;
        color: var(--light);

        transition: all 0.15s ease-in-out;
    }

    .header {
        padding: 20px;

    }

    header.active {
        backdrop-filter:none; /* this is necessary for the overlay menu to work */
        
    }   

    .nav.active {
        top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        background: transparent;
        color: var(--light);
        backdrop-filter: blur(20px) grayscale(40%);
        box-shadow: var(--shadow);
        z-index: 1;
    }

    .nav.active a{
        display: flex;
        align-items: flex-start;
        margin: 30px; 
        
    }


}



@media (max-width: 410px) {
   
    /* --- AboutMe --- */

 
     /* ---- Timeline ----- */
 
     .timeline {
        width: 100%; 
     }
 
 
     /* --- MyTackStack --- */
 
     #techstack {
         min-height: 1050px;
     }
 
     .tab-wrapper {
         grid-template-columns:  140px 140px;
     }
 
     .tabs {
         grid-template-rows: 110px; 
 
     }
 
 }