
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');


:root {
    --primary:  rgb(151, 136, 166);
    --dark: #60a1cf;
    --black: #0d1117;
    --gray: #30363d;
    --light: white;


    --blur: blur(20px);
    --shadow: 0 0 30px var(--gray);

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--light);
}



/* --- header sekcija --- */
header {
    border-bottom: 2px solid var(--gray) ;
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 2rem;
    font-family: Righteous;
    color:  var(--light);
    user-select: none;
    cursor: pointer;
}

.logo span {
    color:  var(--primary);
    font-family: Righteous;

}

nav{
    display: flex;
    align-items: center;
}

.navlinks a {
    position: relative;
    font-size: 1.1rem;
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

/* --- zezalica ---  */  
.navlinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navlinks a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.Btn-popup {
    width: 120px;
    height: 45px;
    background: var(--gray);
    border: 2px solid var(--gray);
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 700;
    margin-left: 40px;
    transition: .5s;

}

.Btn-popup:hover {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
}





/* --- intro i AboutMe --- */

#aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 700px;
}

.wrapper {
    width: 400px;
    height: auto;
    padding: 30px;
    border: 2px solid var(--gray) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.avatar {
    margin: 20px;

    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--gray);
}

p {
    margin: 6px;
}



/* --- MyTechStack --- */

.tab-wrapper {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    justify-items: center;

}

.tabs {
    background: var(--gray);
    width: 40px;
    height: 40px;
}


/* --- MyProjects --- */

#projects {
    display: inline-block;
    width: 100%;
    height: 700px;
    background: red;
}

/* --- Contact --- */

#contact {
    display: inline-block;
    width: 100%;
    height: 700px;
    background: aqua;
}