
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');


:root {
    --primary:  rgb(151, 136, 166);
    --dark: #60a1cf;
    --black: #0d1117;
    --gray: #30363d;
    --light: white;

    


    --blur: blur(20px);
    --shadow: 0 0 30px var(--gray);

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--light);
}



/* --- header sekcija --- */
header {
    border-bottom: 2px solid var(--gray) ;
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.logo {
    font-size: 2rem;
    font-family: Righteous;
    color:  var(--light);
    user-select: none;
    cursor: pointer;
}

.logo span {
    color:  var(--primary);
    font-family: Righteous;

}

nav{
    display: flex;
    align-items: center;
}

.navlinks a {
    position: relative;
    font-size: 1.1rem;
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

/* --- zezalica ---  */  
.navlinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navlinks a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.Btn-popup {
    width: 120px;
    height: 45px;
    background: var(--gray);
    border: 2px solid var(--gray);
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 700;
    margin-left: 40px;
    transition: .5s;

}

.Btn-popup:hover {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
}





/* --- intro i AboutMe --- */

#aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    height: 600px;
    padding: 40px;
}

.wrapper {
    width: 400px;
    height: auto;
    padding: 30px;
    border: 2px solid var(--gray) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.avatar {
    margin: 20px;

    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--gray);
}

.avatar p {
    margin: 6px;
}



/* icone */
.icon {
    margin: 10px;
    display: flex;
    align-items: center;
    
}

.icon button {
    margin: 5px;
    padding: 2px;
    font-size: 1.0rem;
}

/* ---- Timeline ----- */

.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%;
    
}
.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.point {
    min-width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 100%;
    z-index: 2;
    border: 3px var(--gray) solid;
    position: relative;
}
.point.point-right {
    right: 9px;
}

.point.point-left {
    left: 11px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: var(--gray);
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content :hover{
    background-color: var(--primary);
    transition: .7s;


}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: var(--gray);
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: var(--gray);
}




/* --- MyTechStack --- */

.chapter {
    display: flex;
    justify-content: center;
    padding: 10px;
}



#techstack {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;
    /* background: rgb(108, 32, 249); */
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--gray);
}



.tab-wrapper {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 150px 150px 150px;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    justify-items: center;

}

.tabs {
    align-content: center;
    background: var(--gray);
    margin: 5px;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.tabs:hover {
    background: var(--primary);
    color: var(--light);
    transition: .4s;
}


/* --- MyProjects --- */

#projects {
    display: inline-block;
    width: 100%;
    height: 700px;
    border-top: 2px solid;
    border-color: var(--gray);
    /* background: red; */
}


.container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 25vh;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 50px;
    color: #fff;
    flex: 0.5;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 6;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in o.4s;
}

@media (max-width:480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }
}

/* --- Contact --- */

#contact {
    display: inline-block;
    width: 100%;
    height: 700px;
    background: aqua;
}